.navbar{
color: white;
background-color: rgb(0 0 0 / 68%);
    display: flex;
    padding: 20px 1rem;
    font-size: 20px;
    
}

.navbar-light .navbar-brand{
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #0fa3da;
}
.flagIcons{
    width: 15px;
    height: 10px;
}
.dropdown-menu{
    min-width: 5px;
  
}
@media screen and (max-width: 1400px) {
    div.try {
      display: none;
    }
}
.header{
    height: 40px;
    /* width: 100%; */
    color:white;
    background-color:black;
    border: 1px solid  #d3d3d3;   
    margin:0;
    padding: 0 60px;
    font-size: 1px;
    
}
.right {
    flex-basis: 0;
    flex-grow: 0;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;   
    font-size: 20px;
}
.section{
    border-left: 1px solid  #d3d3d3;
  
}
.section2{
    border-left: 1px solid  #d3d3d3;
    border-right: 1px solid  #d3d3d3;
  
}

