.form{
    width: 80%;
    height: 60%;
    margin-top:80px;
    background-color: #fbfbfb; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    margin-right: auto;
    margin-left: auto;
}
.form:hover{
    border: 2px dashed #007bff;
}
