
  @media screen and (min-width: 1100px) {
    div.app {
      text-align: center;
    background-image:url('./headerImage.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 30%;
    }
    .carContainer{
      width:90%;
      margin-top:150px;
      margin-right:auto;
      margin-bottom:50px;
      margin-left:auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
      background-color:white;
    }
     
} 
